<!-- Talk View -->
<div class="view view-talk hidden" id="talkView">
    <div class="talk-main-area">
        <!-- Cory Display Area -->
        <div class="cory-display-container">
            <div class="cory-name-tag" id="coryNameTag">첫번째 코리</div>
            <img src="assets/images/default_cory.png" alt="코리" class="talk-cory-image" id="talkCoryImage">
        </div>

        <!-- Chat Area -->
        <div class="chat-container">
            <div class="chat-messages" id="chatMessages">
                <!-- Chat messages will be dynamically added here -->
            </div>
        </div>
    </div>
</div>
